<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ipifyAccessToken</key>
	<string>b04a3b11e3a99a-</string>
	<key>RU_MovieAPI</key>
	<dict>
		<key>BaseURL</key>
		<string>https://api.kinopoisk.dev</string>
		<key>Authorization</key>
		<dict>
			<key>X-API-KEY</key>
			<string>CA0Y6V3-4JPMCKW-PTSQ135-YPKXT4X</string>
		</dict>
		<key>Provider</key>
		<string>kinopoisk</string>
		<key>Endpoints</key>
		<dict>
			<key>upcomingMovies</key>
			<string>/v1.4/movie?page=1&amp;limit=10&amp;lists=the_closest_releases&amp;selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies</string>
			<key>genres</key>
			<string>/v1/movie/possible-values-by-field?field=genres.name</string>
			<key>popularMovies</key>
			<string>/v1.4/movie?page=1&amp;limit=10&amp;lists=popular-films&amp;selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies&amp;notNullFields=similarMovies.id</string>
			<key>movieDetails</key>
			<string>/v1.4/movie?selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies</string>
			<key>reviews</key>
			<string>/v1.4/review?page=1&amp;limit=3</string>
		</dict>
	</dict>
	<key>EN_MovieAPI</key>
	<dict>
		<key>BaseURL</key>
		<string>https://api.themoviedb.org</string>
		<key>Authorization</key>
		<dict>
			<key>Authorization</key>
			<string>Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1Y2M2MWUzNDBkMjY5MDNhZWU0ZjY0ZGE3ZTVjNGI5NSIsIm5iZiI6MTcyNDA1ODA3Mi4zNDc1MTksInN1YiI6IjY2YjRjZGFhODE1NGZiNDUyODQyMjg4YSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.wxlmh7O1rcBNf12LzB_s-N_1itju1p4RNpUEuSp0FIo</string>
		</dict>
		<key>Provider</key>
		<string>tmdb</string>
		<key>Endpoints</key>
		<dict>
			<key>upcomingMovies</key>
			<string>/3/discover/movie?include_adult=false&amp;include_video=false&amp;language=en-US&amp;page=1&amp;sort_by=popularity.desc&amp;with_release_type=2|3</string>
			<key>genres</key>
			<string>/3/genre/movie/list</string>
			<key>popularMovies</key>
			<string>/3/discover/movie?include_adult=false&amp;include_video=false&amp;language=en-US&amp;page=1&amp;sort_by=popularity.desc</string>
			<key>movieDetails</key>
			<string>/3/movie/</string>
			<key>reviews</key>
			<string>/3/movie/</string>
			<key>similarMovies</key>
			<string>/3/movie/</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-SemiBold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
