<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ipifyAccessToken</key>
	<string>b04a3b11e3a99a</string>
	<key>RU_MovieAPI</key>
	<dict>
		<key>BaseURL</key>
		<string>https://api.kinopoisk.dev</string>
		<key>Authorization</key>
		<dict>
			<key>X-API-KEY</key>
			<string>YGNWPD2-KY7MSX4-KTC4RS6-H8W2C2M</string>
		</dict>
		<key>Provider</key>
		<string>kinopoisk</string>
		<key>Endpoints</key>
		<dict>
			<key>genres</key>
			<string>/v1/movie/possible-values-by-field?field=genres.name</string>
			<key>upcomingMovies</key>
			<string>/v1.4/movie?page=1&amp;limit=10&amp;lists=the_closest_releases&amp;selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies</string>
			<key>popularMovies</key>
			<string>/v1.4/movie?page=1&amp;limit=10&amp;lists=popular-films&amp;selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies&amp;notNullFields=similarMovies.id</string>
			<key>topRatedMovies</key>
			<string>/v1.4/movie?page=1&amp;limit=10&amp;selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies&amp;notNullFields=rating.kp&amp;sortField=rating.kp&amp;sortType=-1&amp;type=movie&amp;rating.imdb=8-9.3&amp;votes.imdb=10000-6666666</string>
			<key>theHighestGrossingMovies</key>
			<string>/v1.4/movie?page=1&amp;limit=10&amp;lists=box-usa-all-time&amp;selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies&amp;notNullFields=similarMovies.id</string>
			<key>movieDetails</key>
			<string>/v1.4/movie?selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies</string>
			<key>movieDetails_Disabled</key>
			<string>/v1.4/movie/</string>
			<key>personDetails</key>
			<string>/v1.4/person/</string>
			<key>personRelatedMovies</key>
			<string>/v1.4/movie?selectFields=id&amp;selectFields=name&amp;selectFields=enName&amp;selectFields=alternativeName&amp;selectFields=description&amp;selectFields=shortDescription&amp;selectFields=slogan&amp;selectFields=status&amp;selectFields=year&amp;selectFields=type&amp;selectFields=rating&amp;selectFields=movieLength&amp;selectFields=genres&amp;selectFields=countries&amp;selectFields=poster&amp;selectFields=backdrop&amp;selectFields=persons&amp;selectFields=similarMovies&amp;type=!tv-series&amp;sortField=rating.kp&amp;sortType=-1</string>
			<key>reviews</key>
			<string>/v1.4/review?page=1&amp;limit=7</string>
			<key>searchMovies</key>
			<string>/v1.4/movie/search?page=1&amp;limit=10</string>
			<key>searchPersons</key>
			<string>/v1.4/person/search?page=1&amp;limit=10</string>
		</dict>
	</dict>
	<key>EN_MovieAPI</key>
	<dict>
		<key>BaseURL</key>
		<string>https://api.themoviedb.org</string>
		<key>Authorization</key>
		<dict>
			<key>Authorization</key>
			<string>Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1Y2M2MWUzNDBkMjY5MDNhZWU0ZjY0ZGE3ZTVjNGI5NSIsIm5iZiI6MTcyNDA1ODA3Mi4zNDc1MTksInN1YiI6IjY2YjRjZGFhODE1NGZiNDUyODQyMjg4YSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.wxlmh7O1rcBNf12LzB_s-N_1itju1p4RNpUEuSp0FIo</string>
		</dict>
		<key>Provider</key>
		<string>tmdb</string>
		<key>Endpoints</key>
		<dict>
			<key>genres</key>
			<string>/3/genre/movie/list</string>
			<key>upcomingMovies</key>
			<string>/3/discover/movie?include_adult=false&amp;include_video=false&amp;language=en-US&amp;page=1&amp;sort_by=popularity.desc&amp;with_release_type=2|3</string>
			<key>popularMovies</key>
			<string>/3/discover/movie?include_adult=false&amp;include_video=false&amp;language=en-US&amp;page=1&amp;sort_by=popularity.desc</string>
			<key>topRatedMovies</key>
			<string>/3/discover/movie?include_adult=false&amp;include_video=false&amp;language=en-US&amp;page=1&amp;sort_by=vote_average.desc&amp;vote_count.gte=10000</string>
			<key>theHighestGrossingMovies</key>
			<string>/3/discover/movie?include_adult=false&amp;include_video=false&amp;language=en-US&amp;page=1&amp;sort_by=revenue.desc</string>
			<key>movieDetails</key>
			<string>/3/movie/</string>
			<key>reviews</key>
			<string>/3/movie/</string>
			<key>similarMovies</key>
			<string>/3/movie/</string>
			<key>personDetails</key>
			<string>/3/person/</string>
			<key>personRelatedMovies</key>
			<string>/3/discover/movie?include_adult=false&amp;include_video=false&amp;language=en-US&amp;page=1&amp;sort_by=popularity.desc</string>
			<key>searchMovies</key>
			<string>/3/search/movie</string>
			<key>searchPersons</key>
			<string>/3/search/person</string>
		</dict>
	</dict>
	<key>aboutUs</key>
	<dict>
		<key>labelText</key>
		<string>Welcome to MyMovies App!</string>
		<key>textViewText</key>
		<string>We believe in creating solutions that make everyday life easier, more enjoyable, and more connected. Our team is passionate about technology and innovation, and we’re dedicated to building products that meet the real needs of our users.
            
            We are committed to:
            Innovation: Constantly pushing the boundaries of what’s possible.
            User Experience: Making every interaction with our app delightful and easy.
            Trust and Privacy: Protecting your data and maintaining transparency in everything we do.
            Community: Building tools that bring people together and help them grow.
            
            Our Values:
                Customer-Centricity: Your feedback drives our innovations. We listen carefully to your needs and build solutions around them.
                Quality: We are committed to maintaining the highest standards in every product we build.
                Transparency: We believe in being open and honest about how we operate and how we handle your data.
                Continuous Improvement: We’re always learning, iterating, and improving to ensure we deliver the best experience possible.
                
            Get in Touch:
            We’d love to hear from you! Whether you have feedback, a question, or just want to say hi, feel free to reach out.
            Email: AndreiShpartou@gmail.com
        </string>
		<key>title</key>
		<string>About Us</string>
	</dict>
	<key>legalAndPolicies</key>
	<dict>
		<key>labelText</key>
		<string>Terms</string>
		<key>textViewText</key>
		<string>Thank you for choosing to be part of us. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy or our practices regarding your personal information, please contact us at AndreiShpartou@gmail.com.This Privacy Policy explains what information we collect, how we use it, and what rights you have concerning it. Please read it carefully to understand our practices.
            
            1. Information We Collect
            
            We collect personal information that you voluntarily provide to us when you:
            Register or use our app.
            Contact customer support.
            Subscribe to our newsletter or marketing communications.
            
            The information we collect includes:
            Personal Information: Full name, email address, phone number, etc.
            Device Information: Device type, operating system, IP address, and browser type.
            Usage Data: Information about how you interact with our app (e.g., pages viewed, features used).
            
            We do not collect sensitive personal data such as race, religion, or political affiliations.
    
            2. How We Use Your Information
            
            We use your personal information for the following purposes:
            
            Provide and maintain the app: To offer features and ensure the proper functionality of the app.
            Improve user experience: To understand your preferences and enhance the app.
            Marketing and communication: To send promotional messages, updates, and offers (with your consent).
            Legal purposes: To comply with legal obligations or protect our rights.
            
            3. Sharing Your Information
            
            We do not share your personal information with third parties except in the following situations:
            
            With Service Providers: To assist us in running the app, for example, cloud storage or analytics providers.
            For Legal Reasons: When required by law or to protect the safety and rights of our company or users.
            
            4. Data Security
            
            We take your data security seriously. We use appropriate technical and organizational measures to protect your personal information from unauthorized access, loss, or alteration. However, no system is completely secure, and we cannot guarantee its absolute security.
            
            5. Third-Party Links. Our app may contain links to external websites or services. We are not responsible for the privacy practices or the content of third-party sites.
            
            6. Children’s Privacy

            Our app is not intended for children under the age of 13. We do not knowingly collect or solicit personal information from children under 13. If we become aware that we have inadvertently collected personal data from a child, we will take steps to delete it as soon as possible.

            7. Changes to This Privacy Policy

            We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. When we make changes, we will update the “Effective Date” at the top of this document. Please review this policy regularly to stay informed about how we are protecting your personal information.
        </string>
		<key>title</key>
		<string>Privacy Policy</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-SemiBold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
