//
//  Secrets.xcconfig
//  MyMovies
//
//  Created by Andrei Shpartou on 21/04/2025.
//

IPIFY_ACCESS_TOKEN = b04a3b11e3a99a
KINOPOISK_X_API_KEY = CD1F5E2-EHGM43S-NGWDFK8-5EQGH6A
KINOPOISK_X_API_KEY2 = CA0Y6V3-4JPMCKW-PTSQ135-YPKXT4X
KINOPOISK_X_API_KEY3 = 1TMH0NP-45VMCVB-J4Y4RF6-TZQ7ZW7
TMDB_ACCESS_TOKEN = Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1Y2M2MWUzNDBkMjY5MDNhZWU0ZjY0ZGE3ZTVjNGI5NSIsIm5iZiI6MTcyNDA1ODA3Mi4zNDc1MTksInN1YiI6IjY2YjRjZGFhODE1NGZiNDUyODQyMjg4YSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.wxlmh7O1rcBNf12LzB_s-N_1itju1p4RNpUEuSp0FIo
CLOUDINARY_CLOUD_NAME = dfe1lkbwt
CLOUDINARY_API_KEY = 445626447662862
CLOUDINARY_API_SECRET = eUa65FGYdWeil5iwYk6shtcENso
